<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
</head>

<body>
    <section class="hero">
        <div class="hero_d">
            <h1>VISIT THE ICT UNIVERSITY</h1>
            <h3>Enjoy the enviroment, the student culture and the academic energy</h3>    
        </div>
    </section>


    <section class="enviroment">
        <h2>TOP THREE AREAS TO FOCUS ON</h2>
        <div class="area">
            <div class="card">
                <img src="https://ictuniversity.org/wp-content/uploads/2021/12/263435024_2648046405340888_4189606006828223484_n.jpg" />
                <h4>View enviroment</h4>
                <p>The school enviroment is beautiful and and very welcoming for any visitor. </p>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8n57S76W2ds1ESQxwDUn9AzbGoCo10di-qe1jBNPZrvrfuhyRhOcE8mNX8kqI2Pt-ra4&usqp=CAU" />
                <h4>The lecture hall</h4>
                <p>A very confortable lecture hall with morden projectors and electronic white board and good chairs.
                </p>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRgfBVDVW9hP4iMkFthOxpzlYyzGztCK2M3sJLmyk9Ow&s" />
                <h4>School livrary</h4>
                <p>The library is made up of a wide reangr of book from different spheres of life. </p>
            </div>
        </div>
    </section>


    <section class="about">
        <h2>ABOUT</h2>
        <h5>This work has been done by</h5>
        <div class="wrapper">
            <img src="./IMG_20230224_174045_166.jpg" alt="my picture smiling" class="my-img">
            <div class="card__details">
                <h5>KEVIN BOUKENG TATSIMO</h5>
                <p>Full Stack developer</p>
                <h3>Yaounde, Cameroon</h3>
                <h5>kboukeng@gmail.com</h5>
                <h5>+237 698 213 047 / 670 724 116</h5>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
          <p>&copy; 2023 KevTech. All rights reserved.</p>
          <p>Follow me on <br/> <a href="https://web.facebook.com/"><img src="./facebook.png"/></a> <a href="https://twitter.com/home"><img  src="./twitter.jpeg"/></a> <a href="https://www.linkedin.com/feed/t"><img src="./linkedin.png"/></a>.</p>
        </div>
      </footer>    
</body>

</html>